*~
*.log
*.pot
*.pyc
*.pyo
/.zed
*__pycache__
*_key.pem
poetry.lock
Pipfile.lock
.python-version
.updated
.ssh_known_hosts
.idea
local_settings.py
sqlite.db*
sqlite*.db
/.venv
/.update.sh
/var
/dist
.DS_Store
dump.rdb
docs_site/
.hypothesis
.site_packages
/pyrightconfig.json
/set_venv_paths.sh
