# Python
*.pyc
*.pyo
*__pycache__
*.egg-info/

# Editors
*~
/.zed
.idea
.ropeproject
/pyrightconfig.json

# Django
*.log
*.pot
local_settings.py
/var

# Database
sqlite*.db
dump.rdb

# Environment
/.venv
.env
.python-version

# Build
dist/

# macOS
.DS_Store

# Testing
testproject/
.hypothesis

# Docs
docs_site/

# Keys / secrets / misc
*_key.pem
.ssh_known_hosts
.updated
.site_packages
/set_venv_paths.sh
/.update.sh
